PATH_MAKE = make
PATH_C_COMPILER = gcc
PATH_JAVAC = javac

PARSE_WITH_COMMAND = true
PARSE_COMMAND = [COOJA_DIR]/tools/macos/nmandsize $(LIBFILE)
MAPFILE_DATA_START = ^__DATA[ ]*__data[ ]*0x([0-9A-Fa-f]*)[ ]*0x[0-9A-Fa-f]*[ ]*$
MAPFILE_DATA_SIZE = ^__DATA[ ]*__data[ ]*0x[0-9A-Fa-f]*[ ]*0x([0-9A-Fa-f]*)[ ]*$
MAPFILE_BSS_START = ^__DATA[ ]*__bss[ ]*0x[0-9A-Fa-f]*[ ]*0x([0-9A-Fa-f]*)[ ]*$
MAPFILE_BSS_SIZE = ^__DATA[ ]*__bss[ ]*0x[0-9A-Fa-f]*[ ]*0x([0-9A-Fa-f]*)[ ]*$
MAPFILE_COMMON_START = ^__DATA[ ]*__common[ ]*0x([0-9A-Fa-f]*)[ ]*0x[0-9A-Fa-f]*[ ]*$
MAPFILE_COMMON_SIZE = ^__DATA[ ]*__common[ ]*0x[0-9A-Fa-f]*[ ]*0x([0-9A-Fa-f]*)[ ]*$
MAPFILE_VAR_NAME = ^[ \\t]*(0x[0-9A-Fa-f]*)[ \\t]*([^ ]*)[ \\t]*$
MAPFILE_VAR_ADDRESS_1 = ^[ \\t]*0x([0-9A-Fa-f]*)[ \\t]*
MAPFILE_VAR_ADDRESS_2 = [ \\t]*$
MAPFILE_VAR_SIZE_1 = ^
MAPFILE_VAR_SIZE_2 = [ \\t]*(0x[0-9A-Fa-f]*)[ \\t]*[^ ]*[ \\t]*$
COMMAND_VAR_NAME_ADDRESS = ^[ \t]*([0-9A-Fa-f][0-9A-Fa-f]*)[ \t]\\(__DATA,__[^ ]*\\) external _([^ ]*)$
COMMAND_DATA_START = ^DATA SECTION START\: 0x([0-9A-Fa-f]+)$
COMMAND_DATA_END = ^DATA SECTION END\: 0x([0-9A-Fa-f]+)$
COMMAND_BSS_START = ^COMMON SECTION START\: 0x([0-9A-Fa-f]+)$
COMMAND_BSS_END = ^COMMON SECTION END\: 0x([0-9A-Fa-f]+)$
COMMAND_COMMON_START = ^BSS SECTION START\: 0x([0-9A-Fa-f]+)$
COMMAND_COMMON_END = ^BSS SECTION END\: 0x([0-9A-Fa-f]+)$

COMMAND_VAR_NAME_ADDRESS_SIZE = ^\\s*0x(?<address>[a-fA-F0-9]+) \\(\\s*0x(?<size>[a-fA-F0-9]+)\\) (?<symbol>[A-Za-z0-9_]+) \\[.*EXT.*\\]
COMMAND_VAR_SEC_DATA = (__DATA,__data)
COMMAND_VAR_SEC_BSS = (__DATA,__bss)
COMMAND_VAR_SEC_COMMON = (__DATA,__common)
