PATH_C_COMPILER=mingw32-gcc
PARSE_WITH_COMMAND = true

# Hack: nm with arguments -S --size-sort does not display __data_start symbols
PARSE_COMMAND = /bin/nm -aP --size-sort -S $(LIBFILE) && /bin/nm -aP $(LIBFILE)

COMMAND_VAR_NAME_ADDRESS_SIZE = ^[_](?<symbol>[^.].*?)[ \t]<SECTION>[ \t](?<address>[0-9a-fA-F]+)[ \t](?<size>[0-9a-fA-F]+)
COMMAND_DATA_START = ^__data_start__[ \t]D[ \t]([0-9A-Fa-f]*)
COMMAND_DATA_END = ^__data_end__[ \t]D[ \t]([0-9A-Fa-f]*)
COMMAND_BSS_START = ^__bss_start__[ \t]B[ \t]([0-9A-Fa-f]*)
COMMAND_BSS_END = ^__bss_end__[ \t]B[ \t]([0-9A-Fa-f]*)
COMMAND_READONLY_START = ^.rodata[ \t]r[ \t]([0-9A-Fa-f]*)
COMMAND_READONLY_END = ^.eh_frame_hdr[ \t]r[ \t]([0-9A-Fa-f]*)
