<configuration>
  <conversionRule conversionWord="highlightdark" converterClass="org.contikios.cooja.util.LogbackColor" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${logback.layoutPattern:-%highlightdark(%-5level [%thread] [%file:%line] - %msg){}%n}</pattern>
    </encoder>
  </appender>

  <logger name="cooja" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
