on:
  pull_request:
    branches: [ master ]

# When a PR is updated, cancel the jobs from the previous version. Merges
# do not define head_ref, so use run_id to never cancel those jobs.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  HOMEBREW_NO_ANALYTICS: 1

jobs:
  build:
    strategy:
      # Do not cancel other jobs on first failure.
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Contiki-NG repo
        uses: actions/checkout@v4
        with:
          repository: contiki-ng/contiki-ng
          path: contiki-ng
      - uses: actions/checkout@v4
        with:
          repository: contiki-ng/cooja
          path: contiki-ng/tools/cooja
      - name: Setup Java 20
        uses: actions/setup-java@v3
        with:
          java-version: 20
          distribution: 'zulu'
      - name: Verify gradle-wrapper checksum
        uses: gradle/wrapper-validation-action@v1
      - name: Build Cooja and Documentation
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.3
          cache-read-only: false
          arguments: jar
          build-root-directory: contiki-ng/tools/cooja
      - name: Test MSPSim
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.3
          arguments: test
          build-root-directory: contiki-ng/tools/cooja

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.10
        with:
          key: compilation-${{ runner.os }}
          max-size: 160M
      - name: install macOS software
        if: matrix.os == 'macos-latest'
        run: |
          brew install gawk make
          # Homebrew prefix is different for x86-64 and aarch64.
          export HOMEBREW_PREFIX=/usr/local
          # Put Homebrew installed make first in PATH so "make" is version 4.x.
          echo "export PATH=$HOMEBREW_PREFIX/opt/make/libexec/gnubin:$PATH" >> ~/.profile
          echo "export PATH=$HOMEBREW_PREFIX/opt/make/libexec/gnubin:$PATH" >> ~/.bashrc
      - name: Run Contiki-NG simulation tests
        run: |
          [ "$(uname)" = "Linux" ] || source ~/.bashrc
          # Update Contiki-NG for current build version.
          perl -pi -e 's#^EXPECTED_COOJA_VERSION =(.*)$#EXPECTED_COOJA_VERSION = 2023090701#g' contiki-ng/arch/platform/cooja/Makefile.cooja
          cd contiki-ng/tests/07-simulation-base
          # Skip MSP430 tests, no compiler installed.
          rm ??-*sky*.csc ??-*z1*.csc
          # Skip test that fails intermittently.
          rm 21-cooja-rpl*.csc
          source ../../tools/docker/files/bash_aliases
          cimake
